body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(250, 250, 70);
  text-align: center;
}

.containerPrimer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0rem;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-top: 1rem; /* opcional: espacio superior */
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button-red {
  padding: 10px 20px;
  background-color: #851003;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-red:hover {
  background-color: #f52e20;
}

.button-green {
  padding: 10px 20px;
  background-color: #026c14;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-green:hover {
  background-color: #27fa4a;
}

.button-yellow {
  padding: 10px 20px;
  background-color: #faed04;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-yellow:hover {
  background-color: #f6e638;
}